.cardOpen {
    animation-duration: 500ms;
    animation-name: open;
}

@keyframes open {
    0% {
        height: 300px;
    }
    100% {
        height: 450px;
    }
}

.cardClose {
    animation-duration: 500ms;
    animation-name: close;
}

@keyframes close {
    0% {
        height: 450px;
    }
    100% {
        height: 300px;
    }
}